/* input.ng-invalid.ng-touched {
    border: 1px solid red;
} */
#telPlus {
    display: inline-block;
    max-width: 3%;
}
#phonenumber{
    width: 95%;
    display: inline-block;
}

label {
    margin-top: 25px;
}

span {
    color: grey;
}

button { 
    margin-bottom: 25px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid green;
}

.ng-dirty:not(form) {
    border-left: 5px solid red;
}