<div class="row">
  <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
    
    <h4>REGISTRATION</h4>
    <hr>

    <form (ngSubmit)="onRegistered(f)" #f="ngForm">
      <label for="username">User Name *</label>
      <input 
        type="text" 
        id="username"
        class="form-control"
        ngModel 
        username
        name="username"
        #username=ngModel
        >
       
        <label for="email">Email *</label>
        <input 
        type="email"
        class="form-control"
        id="email"
        email
        maxlength="45"
        ngModel
        name="email"
        #email=ngModel
        required
        pattern="^[a-zA-Z0-9_\-.]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\-.]+$">

      <label for="firstname">First Name *</label>
      <input 
        type="text" 
        id="firstname"
        class="form-control"
        minlength="3"
        maxlength="45"
        ngModel 
        name="firstname"
        pattern="[a-zA-Z ]*">

      <label for="lastname">Last Name *</label>
      <input 
        type="text"
        id="lastname"
        class="form-control"
        minlength="3"
        maxlength="45"
        ngModel 
        name="lastname"
        pattern="[a-zA-Z ]*">

      <label for="phonenumber">Phone number *</label>
      <div> 
        <span class="tel">+</span>
        <input 
        type="phone"
        minlength="9"
        maxlength="14" 
        id="phonenumber"
        class="form-control"
        ngModel 
        name="phonenumber"
        required
        #phonenumber=ngModel
        pattern="[0-9() ]{11,}$">
      <span id=forPhone *ngIf="!phonenumber.valid">Parašome įvesti formatu pagal pavyzdį (37060012345)</span>
      </div>
     
      <label for="password">Password</label> 
      <input 
        type="password"
        id="password"
        class="form-control"
        minlength="6"
        maxlength="45"
        ngModel 
        password
        name="password"
        #password=ngModel
        required
        > 

      <label for="passwordConfirm">Password Confirm</label> 
      <input 
          type="password"
          id="passwordConfirm"
          class="form-control"
          minlength="6"
          maxlength="45"
          ngModel 
          passwordConfirm
          name="passwordConfirm"
          #passwordConfirm=ngModel
          required
          > 
          <span
          *ngIf="password.value != passwordConfirm.value"  
          class="help-block">
            Pakartokite slaptažodį
          </span> 
         <hr>
          <p *ngIf="!f.valid">* - Privalomi laukai. Prašome visus užpildyti</p>     
          <hr>
      
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">SAVE</button>
    </form>
    
  </div>
</div>
