<div id="groupItem" class="hide">
    <h4>
        <span>Grupės </span>   
        {{group.name}}
        <span>nariai: </span>
    </h4>
    
    <ul *ngFor="let name of group.usernames; let i=index;">
        <li><span>{{name}}</span>
                <button (click)="onDelete(name)" type="button" class="btn btn-danger">Trinti</button>    
        </li> 
       
    </ul>
    <h5>
        <span>Viso narių: </span>  
        {{group.usernames.length}}: 
    </h5>   
    <hr>

    <div>
      <h4>Pridėti narių</h4>
      <form (ngSubmit)="addUser(f)" #f="ngForm">
          <label for="user"></label>
          <select 
              type="text" 
              id="username"
              class="form-control"
              ngModel 
              name="username"
              username
              #username=ngModel
              (change)="onSelectUser($event.target.value)">
              <option *ngFor="let user of users; let i = index; trackBy: trackByName">{{user.username}}</option>
         </select>
                 
        <hr>
        <button (click)="onClick()" class="btn btn-primary" type="submit" [disabled]="!f.valid">PRIDĖTI</button>
        <hr>
       
      </form>
    </div>
    
  </div>


