#groupItem {
    padding: 20px;
    background-color: #f8f8f8;
}
#groupItem span {
    width: 50%;
    font-size: 12px;

}
#groupItem h4 {
   font-weight: 700;
}

#groupItem li {
    list-style: none;

}


#groupItem li span {
    display: inline-block;
    min-width: 50%;
    font-size: 14px;
}
#groupItem li button {
    min-width: 70px;
}
