<br>
<h4>Vartotojų lentelė</h4>
<table id="usersTable">
    <thead>
        <td>Vartojo vardas</td>
        <td>Telefono numeris</td>
        <td>el. paštas</td>
        <td>grupių pasirinkimas</td>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i=index">
            <td (click)="onUser(i)" style="cursor: pointer;">{{user.username}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
           
            <!-- <select >
                    <option *ngFor="let group of groups; let i=index" ><span (click)="onSelectGroup(i)">{{group.name}} </span>sk.:({{group.members}})</option>
            </select> -->

            <!-- <select 
            type="text" 
            id="groupname"
            class="form-control"
            ngModel 
            name="groupname"
            groupname
            #groupname=ngModel
            (change)="onSelectGroup($event.target.value)">
            <option *ngFor="let group of groups; let i = index">{{group.name}}</option>
        </select> -->

        <td>
                <div>
                        <!-- add one User -->
                        
                        <form (ngSubmit)="addGroup(f)" #f="ngForm">
                            <label for="group"></label>
                            <select 
                                type="text" 
                                id="groupname"
                                class="form-control"
                                ngModel 
                                name="groupname"
                                groupname
                                #groupname=ngModel
                                (change)="onSelectGroup($event.target.value)">
                                <option *ngFor="let group of groups; let i = index">{{group.name}}</option>
                            </select>
                            <!-- <button (click)="onChangeGroup()" class="btn btn-primary" type="submit" [disabled]="!f.valid">PRIDĖTI</button> -->
                            <button (click)="onUser(i); onChangeGroup(group)" class="btn btn-primary" type="submit" [disabled]="!f.valid">PRIDĖTI</button>
                            <!-- <button (click)="onUser(i); onChangeGroup(group)" class="btn btn-primary" type="submit" [disabled]="!f.valid">PRIDĖTI</button> -->
                        </form>
                    </div>
        </td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(i)">Trinti</button></td>
        </tr>

    </tbody>
</table>