<div id="userListInGroup">
    <h4>
       <span>Grupės</span>
       "{{group.name}}" 
       <span>nariai:</span>  
    </h4>

    <!-- List of users -->
    <ul *ngFor="let username of usernames; let i=index">
        <li type="button" (click)="onUsername(i)"><span> vardas {{username}}</span> 
            <!-- delete one User -->
            <button type="text" class="btn btn-danger" (click)="onDeleteUser(username)">trinti</button>
        </li>
    </ul>
    <h5>
        <span>Iš viso narių: </span>
        {{group.members}}
    </h5>
    

    <div>
        <!-- add one User -->
        <h4>Pridėti narių</h4>
        <form (ngSubmit)="addUser(f)" #f="ngForm">
            <label for="user"></label>
            <select 
                type="text" 
                id="username"
                class="form-control"
                ngModel 
                name="username"
                username
                #username=ngModel
                (change)="onSelectUser($event.target.value)">
                <option *ngFor="let user of users; let i = index">{{user.username}}</option>
            </select>
        
            <hr>
            <button (click)="onChangeUser()" class="btn btn-primary" type="submit" [disabled]="!f.valid">PRIDĖTI</button>
            <hr>
        
        </form>
    </div>
</div>