#groupList li {
    list-style: none;
    
    
     
}
#groupList li a {
    display: inline-block;
    min-width: 70%;
}
#groupList li button {
    min-width: 70px;
}
.modal-backdrop.show  {
    background-color: transparent;
}