<div class="row">
  <div class="col-md-6 col-sm-8 col-xs-10 col-md-offset-3 col-xs-offset-1 col-sm-offset-2">
    <h4 style="text-align: center">PRISIJUNGTI</h4>
    <hr>
    
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" [hidden]="submitted">
      <label for="username">Vartotojo vardas</label>
      <input 
        type="text" 
        id="username"
        minlength="3"
        maxlength="45"
        class="form-control"
        ngModel 
        name="username"
        username
        #username=ngModel
        required>
       <span *ngIf="!username.valid && username.touched">Įveskite vartotojo vardą</span>
      <br>

      <label for="password">Slaptažodis</label> 
      <input 
        type="password"
        id="password"
        minlength="6"
        maxlength="45"
        class="form-control"
        ngModel 
        password
        name="password"
        #password=ngModel
        required> 
        <span *ngIf="!password.valid && password.touched">Įveskite slaptažodį</span>
      <br>
      <span *ngIf="!f.valid">* - privalomi laukai. <br> Prašome visus užpildyti</span> 
      <hr>

      <button (click)="submitted==false" class="btn btn-primary" type="submit" [disabled]="!f.valid">PATVIRTINTI</button>
      <hr>
     
    </form>
    <!-- //Spinner after button submit -->
      <app-loading-spinner *ngIf="submitted==true"></app-loading-spinner>
    <!-- // Error Message -->
      <span *ngIf="errorM" style="margin:auto; display:table"> {{ errorMessage }} </span>
  
  </div>
</div>