<div class="row">
  <div class="col-md-12 col-xs-12">
    <h4>PRISIJUNGTI</h4>
    <hr>
    
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" [hidden]="submitted">
      <label for="username">Vartotojo vardas</label>
      <input 
        type="text" 
        id="username"
        class="form-control"
        ngModel 
        name="username"
        username
        #username=ngModel
        required>

      <label for="password">Slaptažodis</label> 
      <input 
        type="password"
        id="password"
        class="form-control"
        ngModel 
        password
        name="password"
        #password=ngModel
        required
        minlength="6"> 
      <hr>
      <button (click)="submitted==false" class="btn btn-primary" type="submit" [disabled]="!f.valid">PATVIRTINTI</button>
      <hr>
     
    </form>
    <!-- //Spinner after button submit -->
      <app-loading-spinner *ngIf="submitted==true"></app-loading-spinner>
    <!-- // Error Message -->
      <span *ngIf="errorM"> {{ errorMessage }} </span>
  
  </div>
</div>