<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/registration" style="cursor:pointer;">REGISTER</a>
        </li>

        <li>
          <a routerLink="/login">LOGIN</a>
        </li>
      </ul>
      <button 
        class="btn btn-primary"
        (click)="onRegistration()">
        Registrate
               
      </button>
     </div> 
  </div>
  <router-outlet></router-outlet>  
</div>
     

