<span class="adminpanel">VARTOTOJAI</span>

<table id="userTable">
  <thead>
    <td>Vartotojo vardas</td>
    <td>El.paštas</td>
    <td>Telefono Nr.</td>
    <td>GRUPĖ</td>
  
  <tbody>
    <tr *ngFor="let user of users; let i=index; trackBy: trackByName">
      <td (click)="onSelect(user)" style="cursor: pointer">{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>
          <select #selectElem (click)="onSelectGroup(selectElem.value)">
              <option *ngFor="let group of groups; let i=index">
                  {{group.name}} ({{group.members}})
              </option>
          </select>
      </td>
     <!-- <td><button class="btn-danger" (click)="onDeleteUser(username)">x</button></td> -->
    </tr>
  </tbody>
</table>

    
