/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  span.adminpanel {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  span.adminpanel {
      font-size: 16px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
  span.adminpanel {
      font-size: 16px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
  span.adminpanel {
      font-size: 16px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
   span.adminpanel {
      font-size: 18px;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  span.adminpanel {
      font-size: 20px;
  }
}
